* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e3984c;
}



.products img {
	width: 220px;
	height:220px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.products span {
	width: 50px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.products {
	margin: 10px;
	padding: 10px;
	width: 250px;
	font-family: Comic Sans MS;
	color: black;
	border: 4px solid black;
	border-radius: 5px;
	box-shadow: 3px 3px 4px 4px Grey;
	background-color: coral;
}

#BuyModal , #AlterModal , #PickerModal {
	margin: 20px;
	padding: 20px;
	width: 650px;
	height: 480px;
	font-family: Comic Sans MS;
	color: black;
	border: 4px solid black;
	border-radius: 5px;
	box-shadow: 3px 3px 4px 4px Grey;
	background-color: coral;
}

.modal-header , .modal-title, .modal-body , .modal-footer {
	font-family: Comic Sans MS;
	color: black;
	background-color: coral;
	
}

.modalClose{
	
	
}

.topnav {
	overflow: hidden;
	background-color: #e9e9e9;
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #2196F3;
	color: white;
}



.BuyButton {
	box-shadow: 3px 4px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	margin: 10px; 
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.BuyButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
	text-decoration:none;
}

.BuyButton:active {
	position:relative;
	text-decoration:none;
	top:1px;
}



.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}


.topnav .login-container {
	float: right;
}

.topnav input[type=text], .topnav input[type=password] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	width: 120px;
}

.topnav .login-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background-color: #555;
	color: white;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.topnav .login-container button:hover {
	background-color: green;
}

@media screen and (max-width: 600px) {
	.topnav .login-container {
		float: none;
	}
	.topnav a, .topnav input[type=text], .topnav input[type=password] .topnav .login-container button
		{
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.topnav input[type=text], .topnav input[type=password] {
		border: 1px solid #ccc;
	}
}